img {
    max-width: 300px;
}
* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ffffff;
    margin: 0px;
}

/* MENU */
#btnMenu {
    display: inline;
}

label {
    display: inline;
}

.menu {
    background-color: white;
    position: fixed;
    margin-top: 0px !important;
    width: 100vw;
    top: 0;
    z-index: 1;

}

.menu ul {
    display: flex;
    justify-content: space-around;
    /*
     list-style: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;*/
}

.menu ul li {
    list-style: none;
    /*width: 100%;
    padding: 40px;
    font-weight: bold;
    text-align: center;*/
}

.menu ul li a {
    text-decoration: none;
    margin: 0px;
    width: 100%;
    font-size: 18px;
    color: #333333;
}

.menu a:active,
  .menu a:hover {
    background-color: teal;
    color: white;
  }

.menu .logo {
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #2480f8;
    margin: 0px 0px 0px 10%;
}

.menu label[for="btnMenu"] {
    padding: 20px;
    background-color: #4B3E45;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 9px #00000042;
}
/*---*/

header {
    width: 50%;
    margin: auto;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

header main div h1 {
    font-size: 42px;
    font-weight: bold;
    color: #000000;
    max-width: 420px;
    margin: 80px 20px 0px 20px;
}

p {
    font-size: 18px;
    color: #666666;
    max-width: 420px;
    margin: 20px 20px;
}

header main div button {
    background-color: #2480f8;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    padding: 20px 80px;
    box-shadow: 0px 0px 9px #00000042;
}

header main div img {
    display: none;
}

h2 {
    margin: 20px 20px 0px 20px;
    font-size: 32px;
    font-weight: bold;
    color: #000000;
}

h3 {
    margin: 20px 20px 0px 20px;
    font-size: 32px;
    font-weight: bold;
    color: #000000;
}

.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.svclist {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svcitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.svcitem img {
    width: 100px;
    height: 100px;
    margin: 40px 0px 0px 0px;
}


/* EQUIPE CONTENT */
.equipe-content {
    display: flex;
    justify-content: space-around;
}

.equipe-content #lucas {
    display: flex;
}

.equipe-content #guilherme {
    display: flex;
}


/* ------ */

.contact {
    margin: 40px 0px 40px 0px;
    padding: 40px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000000;
}

.contact h2 {
    color: #ffffff;
}

.contact p {
    color: #ffffff;
}

.contact button {
    background-color: #2480f8;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    padding: 20px 80px;
    box-shadow: 0px 0px 9px #00000042;
}

/*footer*/
.marca {
    margin-left: auto;
    margin-right: auto;
}



/*mobile*/

@media screen and (min-width: 768px) {
    #btnMenu {
        display: none;
    }

    label {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 4px solid #4B3E45;
        visibility: visible;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin: 0px;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin-bottom: 80px;
    }

    header main div img {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .svclist {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}